@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
#root {
  min-height: 100vh;
}

.light {
  --background: 248 250 252;
  --txt: 10 10 10;

  transition: all 0.3s ease;
}
.dark {
  --background: 10 10 20;
  --txt: 248 250 252;
}

.loading {
  position: absolute;
  background: #ffff;
  inset: 0;
}

.loading-icon {
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
